{% extends "base_home.html" %}
{% block title %}The Chinese Arc{% endblock %}

{% block content %}
{% from "_formHelper.html" import render_field %}

<!--Content-->
    <div class="text-black rgba-stylish-strong py-5 px-5 z-depth-4">
        <!--Header-->
        <div class="modal-header text-center pb-4">
            <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>NEWSLETTER</strong> <a
                    class="green-text font-weight-bold"><strong> SUBSCRIPTION</strong></a></h3>
        </div>
        <!--Body-->
        <div class="modal-body">
            <!--Body-->
            <form method="POST" action="">
                <div class="form-group">
                    {{ render_field(form.first_name, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.last_name, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.email, class="form-control") }}
                </div>
                <div class="text-center mb-3 col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block btn-rounded z-depth-1">
                </div>
            </form>

        </div>
    </div>
<!--/.Content-->

{% endblock %}