{% extends "base.html" %}
{% block title %}The Chinese Arc{% endblock %}

{% block content %}
{% from "_formHelper.html" import render_field %}

<form method="POST" action="">    
    <div class="form-group">
        {{ render_field(form.reply, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.create_by, class="form-control") }}
    </div>
    <div class="form-group">
        {{ render_field(form.create_date, class="form-control") }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>
{% endblock %}