{% extends "base_home.html" %}
{% block title %}The Chinese Arc{% endblock %}

{% block content %}

<body>
    {% for productinfo in productinfo_list %}
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content bg-white padding-y">
        <div class="container">

            <!-- ============================ ITEM DETAIL ======================== -->
            <div class="row">
                <aside class="col-md-6">
                    <div class="card">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <div><img src="../static/images/Cheongsam/{{productinfo.get_product_image() }}"></div>
                            </div> <!-- slider-product.// -->
                            <!-- <div class="thumbs-wrap">
                                <a href="#" class="item-thumb"> <img src="images/items/15.jpg"></a>
                                <a href="#" class="item-thumb"> <img src="images/items/15-1.jpg"></a>
                            </div> slider-nav.// -->
                        </article> <!-- gallery-wrap .end// -->
                    </div> <!-- card.// -->
                </aside>
                <main class="col-md-6">
                    <article class="product-info-aside">

                        <h2 class="title mt-3">{{productinfo.get_product_name() }}</h2>
                        <a href="#" class="title mb-2">{{ productinfo.get_product_category() }}</a>

                        <div class="rating-wrap mb-2">
                            <ul class="rating-stars">
                                <li style="width:100%" class="stars-active">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                            <div class="label-rating">5/5</div>
                            <small class="label-rating text-muted">132 reviews</small>
                        </div> <!-- rating-wrap.// -->

                        <div class="price-wrap">
                            <var class="price h4">$ {{ productinfo.get_product_price() }}0</var>
                            {% if productinfo.get_product_stock() <= 10 %} <span class="badge bg-danger" style="float: right;">
                                <span class="stockCount" id='stockCount'>{{ productinfo.get_product_stock() }}</span>
                                left
                                </span>
                            {% endif %}
                        </div> <!-- price-wrap.// -->

                        <hr>

                        <p class="mb-3">
                            <span class="tag"> <i class="fa fa-check"></i> Free Return</span>
                            <span class="tag"><i class="far fa-clock"></i> Next Day Delivery</span>
                            <span class="tag"><i class="fa-solid fa-thumbs-up"></i> HIT ITEM </span>
                        </p>


                        <p>
                            {{ productinfo.get_product_description() }}
                        </p>

                        <hr>

                        <dl class="row">
                            <dt class="col-sm-3">Material Type</dt>
                            <dd class="col-sm-9">95% cotton | 5% wool</a></dd>

                            <dt class="col-sm-3">Delivery time</dt>
                            <dd class="col-sm-9">3-4 days</dd>

                            <dt class="col-sm-3">Availabilty</dt>
                            <dd class="col-sm-9">
                                {{ productinfo.get_product_stock() }}
                            </dd>
                        </dl>

                        <div class="form-row  mt-4">
                            <div class="form-group col-md flex-grow-0">
                                <div class="input-group mb-3 input-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                    </div>
                                    <input type="text" class="form-control" value="1">
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                                    </div>
                                </div>
                            </div> <!-- col.// -->
                            
                            <div>
                                <div>
                                    <button class="btn btn-outline-danger addToCart" data-product-id="{{productinfo.get_product_id()}}">
                                        <i class="fa fa-cart-plus"></i> Add to cart </button>
                                    <a href="#" class="btn btn-light addToWish"><i class="fa fa-heart"></i> Wishlist </a>
                                </div>
                            </div>
                            
                        </div> <!-- row.// -->
                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
            <!-- ================ ITEM DETAIL END .// ================= -->
        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    {% endfor %}
</body>

<script src="../static/js/customer/wish.js" type="text/javascript"></script>
<script src="../static/js/customer/fullpage_wish.js" type="text/javascript"></script>
<script src="../static/js/customer/cart.js" type="text/javascript"></script>
<script src="../static/js/customer/cart_btn.js" type="text/javascript"></script>

{% endblock %}