{% extends "base.html" %}
{% block title %}The Chinese ARC {% endblock %}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
<body >
{% block content %}
{% for message in get_flashed_messages() %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
<h1 class="display-4">Orders</h1>
<div>
  {% if count == 0 %}
  <p>There are no orders.</p>
  {% elif count == 1 %}
  <p>There is 1 order.</p>
  {% else %}
  <p>There are {{ count }} orders.</p>
  {% endif %}
</div>
<form>
  <div class="d-none d-sm-inline-block form-inline navbar-search " style='padding-bottom: 20px;'>
  <div class="input-group">
      <input type="text" class="form-control bg-light border-1 small" placeholder="Order ID..."
         aria-label="Search" aria-describedby="basic-addon2" id="search-order">
     <div class="input-group-append">
          <button class="btn btn-primary order-search-button" type="button">
              <i class="fas fa-search fa-sm"></i>
          </button>
     </div>
  </div>
  </div>
</form>
<div class="wrapper">
    
  <input type="radio" name="slider" checked id="home">
  <input type="radio" name="slider" id="blog">
  <input type="radio" name="slider" id="code">
  <input type="radio" name="slider" id="help">
  
  <nav>
    <label for="home" class="home"><i class="fas fa-box-open"></i>All Orders</label>
    <label for="blog" class="blog"><i class="fas fa-trash-alt"></i></i>Deleted Orders</label>
    <label for="code" class="code"><i class="fas fa-dollar-sign"></i>Refunds</label>
    <label for="help" class="help"><i class="fas fa-thumbs-up"></i></i>Delivered</label>
    
    <div class="slider"></div>
  </nav>
  <section>
    <div class="content content-1" style="height:650px;overflow:hidden;overflow-y:scroll;" >
      <table class="table ">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Name</th>
            
            <th>Status</th>
            <th>Date of Order</th>
            <th >Operations</th>
          </tr>
        </thead>
        <tbody>
          {% for cust_orders in cust_order_list %}
          <tr class='order-data {{ cust_orders["order"].get_status() }}' id='order-data'>
            <td>{{ cust_orders['order'].get_custOrder_id() }}</td>
            <td >{{ cust_orders['order'].get_first_name() }} {{ cust_orders['order'].get_last_name() }}</td>
            
            
            {% if cust_orders['order'].get_status() == 'Refunded' %}
            <td>
              <h5 class="badge bg-warning" style="font-size: 15px;">{{ cust_orders['order'].get_status() }}</h5>
            </td>
            {% elif cust_orders['order'].get_status() == 'Pending' %}
            <td>
              <h5 class="badge bg-secondary" style="font-size: 15px;">{{ cust_orders['order'].get_status() }}</h5>
            </td>
           
            {% else %}
            <td>
              <h5 class="badge bg-success" style="font-size: 15px;">{{ cust_orders['order'].get_status() }}</h5>
            </td>
            {% endif %}
            <td>{{ cust_orders['order'].get_create_date() }}</td>
            <td>
              <div class="row">
                
                  <div class="col-2">
                    <form action="{{url_for('delete_order', id = cust_orders['order'].get_custOrder_id())}}"  method="POST">
                  
                      <!-- Button to Open the Modal -->
                      <button type="button" class='btn btn-danger' data-bs-toggle="modal" data-bs-target="#myModal_{{cust_orders['order'].get_custOrder_id()}}" title='Delete'>
                        <i class="fas fa-trash-alt"></i>
                      </button>
                      
                      
                      <!-- The Modal -->
                      <div class="modal" id="myModal_{{cust_orders['order'].get_custOrder_id()}}">
                        <div class="modal-dialog">
                          <div class="modal-content">
          
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Delete Confirmation</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
          
                            <!-- Modal body -->
                            <div class="modal-body">
                              Are you sure you want to delete Order ID {{ cust_orders['order'].get_custOrder_id() }} ?
                            </div>
          
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <input type="submit" value="Delete" class="btn btn-danger">
                              
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            </div>
          
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-2 summary" >
                    <button type="button"  class='btn btn-info' data-bs-toggle="modal" data-bs-target="#myModal_2{{cust_orders['order'].get_custOrder_id()}}" title='Delete'>
                      <i class="fas fa-eye"></i>
                    </button>
                    
                    
                    <!-- The Modal -->
                    <div class="modal" id="myModal_2{{cust_orders['order'].get_custOrder_id()}}">
                      <div class="modal-dialog">
                        <div class="modal-content">
        
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Order Information</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
        
                          <!-- Modal body -->
                          <div class="modal-body">
                              <div class="card-body">
                                <div class="accordion" id="accordionExample">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Customer Information
                                      </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                        <h4 class="card-title " style="color: black;">Personal Info</h4>
                                        
                                        <p class="card-text">Name: {{ cust_orders['order'].get_first_name() }} {{ cust_orders['order'].get_last_name() }}</p>
                                        <p class="card-text">Email: {{ cust_orders['order'].get_email() }}</p>
                                        <h5 class="card-title" style="color: black;">Card Info</h5>
                                        <p class="card-text">Card Name: {{ cust_orders['order'].get_holder_name() }}</p>
                                        <p class="card-text">Card Type: {{ cust_orders['order'].get_card_type() }}</p>
                                        <p class="card-text">Card Num: {{ cust_orders['order'].get_card_num() }}</p>
                                        <p class="card-text">CVV: {{ cust_orders['order'].get_cvv() }}</p>
                                        <h5 class="card-title" style="color: black;">Address</h5>
                                        <p class="card-text">Address: {{ cust_orders['order'].get_postal_code() }} #{{ cust_orders['order'].get_unit_number() }}</p>
                                        <h5 class="card-title" style="color: black;">Status</h5>
                                        <p class="card-text">Status: {{ cust_orders['order'].get_status() }}</p>
                                        <p class="card-text">Created On: {{ cust_orders['order'].get_create_date() }}</p>
                                        
                                        <br>
      
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header " id="headingThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        Order Summary
                                      </button>
                                    </h2>
                                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                          <div class="card">
                                            <div class="card-body">
                                              Order ID : {{ cust_orders['order'].get_custOrder_id() }}
                                            </div>
                                          </div>
                                            
                                          <br>
                                            
                                            <div class="card">
                                              <div class="card-body">
                                                <Strong>Items</Strong>
                                                
                                                <hr >
                                            
                                                {% if cust_orders['cart'][1] %} 
                                                Name: {{cust_orders['cart'][1]['name']}}
                                                <br>
                                                Total: ${{cust_orders['cart'][1]['price']}}
                                                <br>
                                                Quantity: {{cust_orders['cart'][1]['qty']}}
                                                <br>
                                                <hr>
                                                {% elif cust_orders['cart'][2] %}
                                                Name: {{cust_orders['cart'][2]['name']}}
                                                <br>
                                                Total: ${{cust_orders['cart'][2]['price']}}
                                                <br>
                                                Quantity: {{cust_orders['cart'][2]['qty']}}
                                                <br>
                                                <hr>
                                                {% elif cust_orders['cart'][3] %}
                                                Name: {{cust_orders['cart'][3]['name']}}
                                                <br>
                                                Total: ${{cust_orders['cart'][3]['price']}}
                                                <br>
                                                Quantity: {{cust_orders['cart'][3]['qty']}}
                                                <br>
                                                <hr>
                                                {% elif cust_orders['cart'][4] %}
                                                Name: {{cust_orders['cart'][1]['name']}}
                                                <br>
                                                Total: ${{cust_orders['cart'][4]['price']}}
                                                <br>
                                                Quantity: {{cust_orders['cart'][4]['qty']}}
                                                <br>
                                                <hr>
                                                {% elif cust_orders['cart'][5] %}
                                                Name: {{cust_orders['cart'][5]['name']}}
                                                <br>
                                                Total: ${{cust_orders['cart'][5]['price']}}
                                                <br>
                                                Quantity: {{cust_orders['cart'][5]['qty']}}
                                                <br>
                                                <hr>
                                                {% elif cust_orders['cart'][6] %}
                                                Name: {{cust_orders['cart'][6]['name']}}
                                                <br>
                                                Total: ${{cust_orders['cart'][6]['price']}}
                                                <br>
                                                Quantity: {{cust_orders['cart'][6]['qty']}}
                                                <br>
                                                <hr>
                                                {% elif cust_orders['cart'][7] %}
                                                Name: {{cust_orders['cart'][7]['name']}}
                                                <br>
                                                Total: ${{cust_orders['cart'][7]['price']}}
                                                <br>
                                                Quantity: {{cust_orders['cart'][7]['qty']}}
                                                <br>
                                                <hr>
                                                
                                                {% endif %}
                                                <div class="card">
                                                  <div class="card-body " >
                                                    <span class="card-text" >Subtotal: </span>
                                                    <span class="card-text " style="float:right;">$<span id="subtotal"></span>.00</span>
                                                    <hr>
                                                    <span class="card-text">Discount: </span>
                                                    <span class="card-text"  style="float:right;">- $<span id="order-discount">{{ cust_orders['order'].get_discount() }}</span>0</span>
                                                    <hr>
                                                    <span class="card-text">Grand Total: </span>
                                                    <span class="card-text" style="float:right;">$<span id="grand-total">{{ cust_orders['order'].get_total() }}</span>0</span>
                                                  </div>
                                                </div>
                                              </div>
      
                                            </div>
                                            
                                          
                                          
                                          
                                        </div>
                                      </div>
                                
                                      
                                    
                                  </div>
                                </div>
                              </div>
                          </div>
        
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            
                            
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                          </div>
        
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <div class="col-2">
                    <form action="{{url_for('refund_order', id = cust_orders['order'].get_custOrder_id())}}"  method="POST">
                
                  
                      <button type="button"  class='btn btn-warning' data-bs-toggle="modal" data-bs-target="#myModal_1{{cust_orders['order'].get_custOrder_id()}}" title='Refund' >
                        <i class="fas fa-hand-holding-usd" alt='refund'></i>
                      </button>
          
                    
                      <div class="modal" id="myModal_1{{cust_orders['order'].get_custOrder_id()}}">
                        <div class="modal-dialog">
                          <div class="modal-content">
            
                            
                            <div class="modal-header">
                              <h4 class="modal-title">Refund Confirmation</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
            
                          
                            <div class="modal-body">
                              Are you sure you want to Refund Order ID {{cust_orders['order'].get_custOrder_id()}}?
                            </div>
            
                            
                            <div class="modal-footer">
                              <input type="submit" value="Refund" class="btn btn-warning">
                              
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            </div>
            
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                
              </div>
            </td>
            
          </tr>
        {% endfor %}
        
        </tbody>
      </table>
    </div>
    
  </section>
  
  <section>
    <div class="content content-2" style="height:650px;overflow:hidden;overflow-y:scroll;" >
      <table class="table ">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Status</th>
            
          </tr>
        </thead>
        <tbody>
          {% for delete_order in delete_order_list %}
            {% if delete_order[1] != None %}
              <tr class='order-data Deleted' id='order-data'>
                <td  > {{ delete_order[0] }}</td>
                <td ><h5 class="badge bg-danger" style="font-size: 15px;" >Deleted</h5></td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <div class="content content-3" style="height:650px;overflow:hidden;overflow-y:scroll;" >
      <table class="table ">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Status</th>
            
          </tr>
        </thead>
        <tbody>
          {% for refund_order in delete_order_list %}
            {% if refund_order[1] == 'Refunded' %}
              <tr class='order-data Refunded' id='order-data'>
              
                <td  > {{ refund_order[0]}}</td>
                <td > <h5 class="badge bg-warning" style="font-size: 15px;">Refunded</h5></td>
              </tr>
            {% endif %}
          {% endfor %}
         
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <div class="content content-4" style="height:650px;overflow:hidden;overflow-y:scroll;" >
      <table class="table ">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Status</th>
            
          </tr>
        </thead>
        <tbody>
          
          {% for cust_orders in cust_order_list %}
            {% if cust_orders['order'].get_status() == 'Delivered' %}
              <tr class='order-data Delivered' id='order-data'>
                <td  > {{ cust_orders['order'].get_custOrder_id()}}</td>
                <td > <h5 class="badge bg-success" style="font-size: 15px;">{{ cust_orders['order'].get_status() }}</h5></td>
              </tr>
            {% endif %}
          {% endfor %}
          {% for delivered_order in delete_order_list %}
            {% if delivered_order[1] == 'Delivered' %}
              <tr class='order-data Delivered' id='order-data' >
                <td  > {{ delivered_order[0]}}</td>
                <td > <h5 class="badge bg-success" style="font-size: 15px;">{{ delivered_order[1] }}</h5></td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  </section>
</div>

<style>
   
  ::selection{
    background: rgba(23, 98, 184, 0.3);
  }
  .wrapper{
    
    width: 100%;
    height: 100%;
    padding: 25px 30px 30px 30px;
    border-radius: 5px;
    background: #fff;
   
  }
  .wrapper header{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  .wrapper nav{
    position: relative;
    width: 80%;
    height: 50px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  .wrapper nav label{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #0f87d8;
    font-size: 17px;
    border-radius: 5px;
    margin: 0 5px;
    
    transition: all 0.3s ease;
  }
  .wrapper nav label:hover{
    margin-bottom: 10px;
    background:#1253a7;
  }
  #home:checked ~ nav label.home,
  #blog:checked ~ nav label.blog,
  #code:checked ~ nav label.code,
  #help:checked ~ nav label.help,
    #about:checked ~ nav label.about{
    color: #fff;
  }
  nav label i{
    padding-right: 7px;
  }
  nav .slider{
    position: absolute;
    height: 100%;
    width: 24%;
    left: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 5px;
    background: #175db8;
    transition: all 0.3s ease;
   
  }
  input[type="radio"]{
    display: none;
  }
  #blog:checked ~ nav .slider{
    left: 25%;
  }
  #code:checked ~ nav .slider{
    left: 50%;
  }
  #help:checked ~ nav .slider{
    left: 75%;
  }
  #about:checked ~ nav .slider{
    left: 100%;
  }
  section .content{
    display: none;
    background: #fff;
  }
  #home:checked ~ section .content-1,
  #blog:checked ~ section .content-2,
  #code:checked ~ section .content-3,
  #help:checked ~ section .content-4,
  #about:checked ~ section .content-5{
    display: block;
  }
  section .content .title{
    font-size: 21px;
    font-weight: 500;
    margin: 30px 0 10px 0;
  }
  section .content p{
  text-align: justify;
  }
    </style>




    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      const summary = document.querySelectorAll('.summary')
      summary.forEach(code => {
      
        code.addEventListener('click', (e) => {
          const discount = code.querySelector('#order-discount').textContent
          const total = code.querySelector('#grand-total').textContent

          code.querySelector('#subtotal').textContent = parseFloat(discount) + parseFloat(total)
        
        })
      })
      
        
      
      
      $(document).ready(function(){
        $('.order-search-button').click(function(){
        const value = $("#search-order").val();
        var status = $('.order-data').attr('data-filter');
        if (value == 'All'){
          $('.order-data').show('100');
        }
       
        else{
          $('.order-data').not('.'+value).hide('1000');
          $('.order-data').filter('.'+value).show('1000')
        }
       
      })
    })
    </script>
    

    <!-- <script src= '../static/js/status.js'></script> -->
    
   
      

</body>

{% endblock %}